{{>stylesheetlinks}}
<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
{{>navbar}}

<div class="container border mt-3">
    <form action="/book" method="post" enctype="multipart/form-data">
        {{#if message}}
            <div class="alert alert-danger mt-2">
                <h4>{{message.message}}</h4>
            </div>
        {{/if}}
<!--        {{#if success}}-->
<!--            <div class="alert alert-success mt-2">-->
<!--                <h4>{{success.message}}</h4>-->
<!--            </div>-->
<!--        {{/if}}-->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="title">
        </div>
        <div class="mb-3">
            <input type="file" name="coverPicture" id="upload-btn" class="file-input" accept="image/*">
            <label class="file-input-label" for="upload-btn"><i class="fas fa-solid fa-upload"></i> Upload Book Picture</label>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" name="author" class="form-control" id="author">
        </div>
        <div class="form-floating mb-3">
            <textarea name="description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Description</label>
        </div>
        <div class="mb-3">
            <label for="language" class="form-label">Language</label>
            <input type="text" name="language" class="form-control" id="language">
        </div>
        <div class="mb-3">
            <label for="pages" class="form-label">Pages</label>
            <input type="number" name="pages" class="form-control" id="pages">
        </div>
        <div class="mb-3">
            <label for="condition" class="form-label">Condition</label>
            <input type="text" name="condition" class="form-control" id="condition">
        </div>
        <div class="mb-3">
            <label for="weight" class="form-label">Weight</label>
            <input type="text" name="weight" class="form-control" id="weight">
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" name="quantity" class="form-control" id="quantity">
        </div>
        {{#if categories}}
            <div style="max-height: 200px; overflow-y: auto;">
                <select id="categorySelect" class="form-select" name="category" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    {{#each categories}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        {{/if}}

        <div class="mb-3">
            <label for="author" class="form-label">Keywords</label>
            <input type="text" name="keyword" class="form-control" id="author" placeholder="Enter the keywords separated by comma(,)">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>