{{>stylesheetlinks}}
{{>navbar}}

<div class="container d-flex justify-content-center align-items-center h-100">
    <form action="/user" method="post" class="container shadow w-50 h-50 p-4 rounded">
        <div class="my-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">remember me</label>
            <a href="/user/register" class="float-end link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Sing up</a>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {{#if message}}
            <div class="alert alert-danger mt-2">
                <h4>{{message.message}}</h4>
            </div>
        {{/if}}
    </form>
</div>
